<section class="py-3 bg-light mt-4">
    <footer class="py-5">
        <div class="container">
            <div class="row align-items-center mb-4">
                <div class="col-12 col-md-7">
                    <h3 class="mb-1 font-weight-bold">Get our stories delivered</h3>
                    <p class="font-size-lg text-muted">From us to your inbox weekly.</p>
                </div>
                <div class="col-12 col-md-5">
                    <form>
                        <div class="row">
                            <div class="col">
                                <input type="email" class="form-control" placeholder="Enter your email">
                            </div>
                            <div class="col-auto ml-2">
                                <button class="btn btn-primary" type="submit">Subscribe</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 col-lg-4 mb-3">
                    <h6 class="text-uppercase font-weight-bold">App Caffe</h6>
                    <ul class="list-unstyled list-inline mb-3 mb-md-0">
                        <li class="list-inline-item mr-3"><i class="fab fa-instagram"></i></li>
                        <li class="list-inline-item mr-3"><i class="fab fa-facebook"></i></li>
                        <li class="list-inline-item mr-3"><i class="fab fa-twitter"></i></li>
                    </ul>
                    <p class="text-muted">It is a long established fact that a reader will be distracted by the readable.</p>
                    <p class="text-muted">It is a long established fact that a reader will be distracted by the readable.</p>
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-3">
                    <h6 class="font-weight-bold text-uppercase">Produits</h6>
                    <ul class="list-unstyled text-muted mb-3 mb-md-5 mb-lg-0">
                        <li class="mb-3"><a href="#" class="text-reset">Page Builder</a> </li>
                        <li class="mb-3"><a href="#" class="text-reset">Page Builder</a> </li>
                        <li class="mb-3"><a href="#" class="text-reset">Page Builder</a> </li>
                        <li class="mb-3"><a href="#" class="text-reset">Page Builder</a> </li>
                    </ul>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <h6 class="font-weight-bold text-uppercase">Services</h6>
                    <ul class="list-unstyled text-muted mb-3 mb-md-5 mb-lg-0">
                        <li class="mb-3"><a href="#" class="text-reset">Documentation</a></li>
                        <li class="mb-3"><a href="#" class="text-reset">Documentation</a></li>
                        <li class="mb-3"><a href="#" class="text-reset">Documentation</a></li>
                        <li class="mb-3"><a href="#" class="text-reset">Documentation</a></li>
                    </ul>

                </div>
                <div class="col-6 col-md-4 offset-md-4 col-lg-2 offset-lg-0">
                    <h6 class="text-uppercase font-weight-bold">Connect</h6>
                    <ul class="list-unstyled text-muted mb-0">
                        <li class="mb-3"><a href="#" class="text-reset">Page Builder</a></li>
                        <li class="mb-3"><a href="#" class="text-reset">Page Builder</a></li>
                        <li class="mb-3"><a href="#" class="text-reset">Page Builder</a></li>
                        <li class="mb-3"><a href="#" class="text-reset">Page Builder</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <h6 class="text-uppercase font-weight-bold">Legal</h6>
                    <ul class="list-unstyled text-muted mb-0">
                        <li class="mb-3"><a href="#" class="text-reset">Documentation</a></li>
                        <li class="mb-3"><a href="#" class="text-reset">Documentation</a></li>
                        <li class="mb-3"><a href="#" class="text-reset">Documentation</a></li>
                        <li class="mb-3"><a href="#" class="text-reset">Documentation</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</section>